* {
  font-family: sans-serif;
}
body {
  background: #D03538;
}
h1 {
  text-align: center;
  color: white;
}
ul {
  width: 400px;
  margin: 20px auto;
}
li {
  background: white;
  list-style-type: none;
  padding: 20px 30px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 4px;
  font-size: 28px;
  p {
    font-size: 16px;
    padding-left: 34px;
    margin: 4px 0;
    color: #444;
  }
}
